__pycache__/
apex/
bottom_up_attention.pytorch.egg-info/
bua/caffe/__pycache__/
bua/caffe/dataloader/__pycache__/
bua/caffe/modeling/_C.cpython-39-x86_64-linux-gnu.so
bua/caffe/modeling/__pycache__/
bua/caffe/modeling/layers/__pycache__/
bua/d2/__pycache__/
bua/d2/dataloader/__pycache__/
bua/d2/modeling/__pycache__/
build/

pretrained/
drigoni_pretrained/
.idea/
Dockerfile
datasets/
output/
results/
extracted_features/

